* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  margin-top: 50px;
  background-color: #1d1d1b;
}

.navbar__container {
  position: fixed;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  /* z-index: 1000; */
}

.navbar__container .navbar_shadow {
  position: fixed;
  height: 50px;
  min-height: 30px;
  min-width: 100%;
  background-color: #043e00;
  /* background-image: linear-gradient(to top, transparent, #1D1D1B,#1D1D1B,#1D1D1B); */
  -webkit-transition: background-image .3s ease-out;
  transition: background-image .3s ease-out;
}

.navbar__container .navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 1000;
  /*TOGGlE BUTTON*/
}

.navbar__container .navbar .drawertogglebutton__container {
  display: none;
}

.navbar__container .navbar .navbar__logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 280px;
  margin: 0;
  padding: 0;
}

.navbar__container .navbar .navbar__logo .navlogo {
  max-height: 70%;
  width: auto;
  /* filter: invert(100%); */
}

.navbar__container .navbar .navbar__logo a {
  height: auto;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.navbar__container .navbar .navbar__options {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar__container .navbar .navbar__options .left {
  width: calc( 100% - 240px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar__container .navbar .navbar__options .right {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: right;
}

.navbar__container .navbar .navbar__options .navbar__item {
  height: 100%;
  font-size: 90%;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: color 0.3s ease-out, font-weight 0.2s ease;
  transition: color 0.3s ease-out, font-weight 0.2s ease;
}
/*# sourceMappingURL=navbar.css.map */